@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 226 25% 15%;
    --card: 0 0% 100%;
    --card-foreground: 226 25% 15%;
    --popover: 210 40% 98%;
    --popover-foreground: 226 25% 15%;
    --primary: 226 64% 32%;
    --primary-foreground: 210 40% 98%;
    --secondary: 207 89% 94%;
    --secondary-foreground: 226 64% 32%;
    --muted: 207 89% 94%;
    --muted-foreground: 226 20% 45%;
    --accent: 260 50% 81%;
    --accent-foreground: 226 64% 32%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 226 30% 85%;
    --input: 226 30% 85%;
    --ring: 226 64% 32%;
    --radius: 0.5rem;
    --chart-1: 226 64% 32%;
    --chart-2: 260 50% 81%;
    --chart-3: 207 89% 80%;
    --chart-4: 226 50% 50%;
    --chart-5: 260 40% 70%;
  }
  .dark {
    --background: 226 25% 10%;
    --foreground: 210 40% 98%;
    --card: 226 25% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 226 25% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 226 64% 32%;
    --secondary: 226 25% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 226 25% 20%;
    --muted-foreground: 210 40% 70%;
    --accent: 260 50% 61%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 226 25% 25%;
    --input: 226 25% 25%;
    --ring: 210 40% 98%;
    --chart-1: 210 40% 98%;
    --chart-2: 260 50% 81%;
    --chart-3: 207 50% 70%;
    --chart-4: 226 50% 50%;
    --chart-5: 260 40% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
